LEMMY_DOMAIN=lemmy.dbzer0.com # Your bot's instance
LEMMY_USERNAME=bot_account # Your bot account
LEMMY_PASSWORD=Password123 # Your bot password
THREATIVORE_ADMIN_URL=https://lemmy.dbzer0.com/u/db0 # The instance url of the user who should have admin access to the bot
## comma-separated lemmy usernames to PM on appeals
THREATIVORE_APPEAL_USERNAMES=db0@lemmy.dbzer0.com
## Input discord webhook here, if None it will skip slack webhook
DISCORDWEBHOOK=None
## Input slack webhook here, if None it will skip slack webhook
SLACKWEBHOOK=None
### DB stuff
USE_SQLITE=true
## Only if USE_SQLITE == true
SQLITE_FILENAME="threativore.db"
## Only if USE_SQLITE == false
POSTGRES_USER=postgres
POSTGRES_PASS=Password123
POSTGRES_URL="127.0.0.1/threativore"
## Set to true to prevent threativore from taking moderation actions. Useful for testing
DRY_RUN=false
ADMIN_API_KEYS="CHANGEME=db0" # Admin API keys
LEMMY_DB_HOST=127.0.0.1
LEMMY_DB_USERNAME=admin
LEMMY_DB_PASSWORD=Password123
LEMMY_DB_DATABASE=lemmydb
DONATION_EXPIRY_DAYS=60
### Payment stuff
## Uncomment the following line to enable the LiberaPay integration
## Add your librapay cookie here. You can get it from https://liberapay.com/<username>/access/constant-session
## Do not add the `Cookie: session=` part, just the value as below.
# LIBERAPAY_COOKIE=1234567:000:1w_-askdfn324987rhRAAJOSHFDKM3rm,op
# LIBERAPAY_USERNAME=db0
## Uncomment the following line to enable the Ko-fi webhook
## Make sure to set the KOFI_WEBHOOK_VERIFICATION_TOKEN to the value you set in the Kofi webhook settings
# KOFI_WEBHOOK_VERIFICATION_TOKEN=00000000-0000-0000-0000-000000000000
## These should be the tiers you have specified in your Ko-fi account. The custom emojis in your instance should match them, using underscore instead of spaces
KOFI_TIERS = "threadiverse enjoyer,salty dog,deck hand,drinking mate"
PAYMENT_TIER_DESCRIPTIONS = "
threadiverse enjoyer=This user is donating to their instance's hosting costs,
salty dog=This user is donating a significant amount to their instance through Ko-Fi,
deck hand=This user is donating a moderate amount to their instance through Ko-Fi,
drinking mate=This user has performed a one-off donation to their instance through Ko-Fi,
buccaneer=This user is donating a significant amount to their instance through Liberapay,
powder monkey=This user is donating a moderate amount to their instance through Liberapay
"

# This should be a dict of the values you need to match in the liberapay tiers. Every use will get the value of the higher tier they can match in their donations.
LIBERAPAY_TIERS = "5=buccaneer,1=powder monkey,0=threadiverse enjoyer"
LIBERAPAY_TIERS_DESCRIPTIONS = "buccaneer=This user is donating a significant amount to their instance through Ko-Fi,powder monkey=This user is donating a moderate amount to their instance through Ko-Fi"
# When a user is assigned one of these tags, threativore will report the flair matching the matching custom emoji in your instance
PREDEFINED_CUSTOM_EMOJI_FLAIRS = "anarchist=bread_book,pirate=jolly_roger,foss=gnu,vouched=vouched,mvp=mvp"
PREDEFINED_TAG_DESCRIPTIONS = "
mvp=This user has been recognised for their contributions to the community,
vouched=This user has been vouced for by another known user,
anarchist=This user likes anarchists,
pirate=This user likes pirates,
foss=This user likes free software
"
# These are used when the user has multiple flair, but we only want to display one of them
# The lowest the number, the higher the priority.
# Voting flair takes precedence over non-voting. Non-voting ones are only displayed in comments.
VOTING_FLAIR_PRIORITY="mvp=10,salty dog=20,buccaneer=20,powder monkey=30,deck hand=30,vouched=35,threadiverse enjoyer=40"
NON_VOTING_FLAIR_PRIORITY="pirate=10,anarchist=10,foss=10"
ADMIN_EMOJI="first_mate"
# Used to mark people commenting in voting threads without having voting rights
OUTSIDER_EMOJI="landlubber"
# When these tiers are assigned to a user. They are automatically assigned the TRUSTED role
TRUSTED_TIERS="buccaneer,powder monkey,salty dog,deck hand"
# When these tags are assigned to a user. They are automatically assigned the TRUSTED role
TRUSTED_TAGS="mvp"
# When these tiers are assigned to a user. They are automatically assigned the KNOWN role
KNOWN_TIERS="threadiverse enjoyer"
# When these tags are assigned to a user. They are automatically assigned the KNOWN role
KNOWN_TAGS=""
# When these tiers are assigned to a user. They are automatically assigned the VOTING role. 
# Note you do not need to add the tiers assigned to TRUSTED_TIERS, as trusted users are always allowed to vote
VOTING_TIERS="threadiverse enjoyer"
# When these tags are assigned to a user. They are automatically assigned the VOTING role
# Note you do not need to add the tiers assigned to TRUSTED_TAGS, as trusted users are always allowed to vote
VOTING_TAGS=""
VOUCHES_PER_USER=2
GOVERNANCE_COMMUNITY=div0_governance
ADMIN_CONTACT_URL="https://matrix.to/#/#div0-appeals:matrix.org"
# Used when displaying the user flags as flair
FLAG_DESCRIPTIONS="
red_flag=The instance admins have given a warning to this user for bad behaviour,
double_red_flag=The instance admins have given two warnings to this user for bad behaviour,
"
# When enabled, it will sync your instance's defederation list with your fediseer censures.
ENABLE_FEDISEER_BLOCKLIST_REFRESH=true
# Use this if your fediseer censures are private, or you want to combine with other instances private censures.
FEDISEER_API_KEY=
# If there's this many registered users per local post+comments, this site will be considered suspicious
FEDISEER_SUS_USERS_PER_ACTIVITY=20
# If there's this many registered users per active monthly user, this site will be considered suspicious
FEDISEER_SUS_ACTIVITY_PER_USER=500
# Extra domains you can add to your blocklist, outside of fediseer.
FEDISEER_ADHOC_BLOCKS=""
# Instance domains you never want to block. This is useful if you're consuming the censures from other instances
# But disagree on some of them.
FEDISEER_SAFELIST=""
# All the censures from these instances in FEDISEER_TRUSTED_INSTANCES will be added your own censures.
# All the endorsements from these instances will be avoided from blocks
FEDISEER_TRUSTED_INSTANCES=""
# Only censures matching the FEDISEER_REASON_FILTERS (see below) will be added to your own censures.
FEDISEER_FILTERED_INSTANCES="lemmy.dbzer0.com,lemmings.world,lemmings.world"
# Add tags with which to filter the censures from the FEDISEER_FILTERED_INSTANCES.
# Only censures tagged with these tags will be added to your blocklist.
# The following special tags exist which encompass many different tags expressing the same concept
# __all_pedos__ = all tags about pedophilia/lolis etc
# __all_bigots__ = all tags about bigotry, racism, sexism, homophobia etc
FEDISEER_REASON_FILTERS="__all_pedos__,__all_bigots__"
# If collating censures from multiple instances, this is the minimum number of censures that need to match for it to be added to your own blocklist
# This is to prevent defederating on a single instance's opinion
FEDISEER_MIN_CENSURES=1
# If the number of changes to your blocklist from one run of the bot is greater than this, 
# you will be informed to approve via a DM to your admin account.
# And you have to manually approve the changes
# This is to prevent a bug or error, causing a massive blocklist change.
FEDISEER_CHANGES_WARNING_THRESHOLD=10